@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-image {
  background-image: url('/imgs/bg_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  filter: blur(3px);
  top: 0;
  left: 0;
  /* Full height */
  height: 100vh;
  width: 100%;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 55rem;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
}

.score {
  font-size: 14rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: auto;
}

/* Unactive status */
.player--0 {
  background-image: linear-gradient(
      to top left,
      rgba(183, 1, 1, 0.9) 0%,
      #bf2e34 100%
    ),
    url(/imgs/player_1-r.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  opacity: 0.8;
}

.player--1 {
  background-image: linear-gradient(
      to top left,
      rgba(183, 1, 1, 0.9) 0%,
      #bf2e34 100%
    ),
    url(/imgs/player_2-r.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: bottom;
  opacity: 0.8;
}

/* Active status */
.player--1.player--active {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(0, 0, 0, 0.1) 20%,
      rgba(255, 255, 255, 0.8) 30%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url(/imgs/player_2-r.png);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: bottom;
  opacity: 0.8;
}

.player--0.player--active {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(0, 0, 0, 0.1) 20%,
      rgba(255, 255, 255, 0.8) 30%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url(/imgs/player_1-r.png);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  opacity: 0.8;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.8);
}

.player--active .name {
  font-weight: 700;
  color: #860101;
  opacity: 1;
}
.player--active .score {
  font-weight: 500;
  color: #860101;
  opacity: 1;
}

.player--active .current {
  opacity: 1;
  background-color: #b90101;
}

.current {
  background-color: rgba(255, 255, 255, 0.4);

  opacity: 0.6;
  border-radius: 9px;
  color: #fff;
  width: 45%;
  padding: 1rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: white;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
}

.btn:hover {
  color: rgb(199, 54, 95);
  font-weight: 700;
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  padding: 1.2rem 1.4rem;
  top: 4rem;
}
.btn--roll {
  top: 39rem;
  padding: 0.8rem 1.4rem;
}
.btn--hold {
  top: 46.5rem;
  padding: 0.6rem 1.8rem;
}

.btn--hold:hover {
  transform: translateX(-50%) translateY(-6px);
  box-shadow: 1.2rem 2rem 3rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.icon {
  margin-right: 0.6rem;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner .name {
  font-weight: 700;
  color: #860101;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 36rem;
  position: fixed;
  padding: 1.8rem 1.5rem;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
  background-color: rgba(244, 50, 112, 0.8);
  border-radius: 1rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup__img {
  width: 100%;
  text-align: center;
}

.popup__img img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: -8%;
  object-position: -8%;
  transform: rotate(22deg);
  background-color: #fcafc8;
}

.popup__content {
  text-align: center;
}

.popup__title {
  font-size: 4rem;
  color: white;
  font-weight: 700;
}

.popup__desc {
  font-size: 2.4rem;
  color: #fee3ec;
  font-weight: 500;
  margin-bottom: 2rem;
}

.popup__btn {
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  background-color: whitesmoke;
  color: #333;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 50rem;
  background-color: rgba(185, 1, 1, 0.2);
}

.menu__background {
  height: 30rem;
  /* color: b90101 */
  background-image: url(/imgs/bg.png);
  background-repeat: no-repeat;
  background-position: 45% top;
  background-size: cover;
  background-blend-mode: screen;
  position: relative;
  top: 0;
  left: 0;
}

.menu__title {
  display: inline-block;
  width: 90%;
  text-align: center;
  position: absolute;
  bottom: 25%;
  left: 60%;
  transform: translate(-60%, -50%);
  color: #b90101;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  list-style: none;
  text-align: center;
}

.menu__item {
  background-color: #b90101;
  width: 60%;
  border-radius: 10px;
  font-size: 1.8rem;
}

.menu__link {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
}
